@charset "UTF-8";

/* ########################################################## */
/* GLOBAL ################################################### */
/* ########################################################## */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
	
	color: #ffffff;
	background-color: #080908;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: 50% 83px;
	background-size: 1920px 799px;
	font-family: "acumin-pro", sans-serif;;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

/* ########################################################## */
/* RASTAAAAAAAA ############################################# */
/* ########################################################## */

.container {
	margin: 0 auto; 			
	max-width: 1200px; 		
}

.row {
	width: auto;
}

.row:before,
.row:after {
	content: " ";
	display: table;	
}

.row:after {
	clear: both;	
}

.columns {
	float: left;	
	padding-left: 1em;
	padding-right: 1em;
}

.push {
	float:right;	
}

/* ########################################################## */
/* SPALTEN ################################################## */
/* ########################################################## */

@media screen and (max-width:600px) {
	.small-1 {width: 100%;}	
}

@media screen and (min-width:600px) and (max-width:1000px) {
	.medium-1 {width:50%;}
	.medium-2 {width:100%;}
	
	.medium-offset-1 {margin-left:50%;}
}

@media screen and (min-width:1000px) {
	.large-1 {width:8.333333%;}
	.large-2 {width:16.666666%;}
	.large-3 {width:25%;}	
	.large-4 {width:33.333333%;}
	.large-5 {width:41.666666%;}
	.large-6 {width:50%;}
	.large-7 {width:58.333333%;}
	.large-8 {width:66.666666%;}
	.large-9 {width:75%;}
	.large-10 {width:83.333333%;}
	.large-11 {width:91.666666%;}
	.large-12 {width:100%}
	
	.large-offset-1 {margin-left:8.333333%;}
	.large-offset-2 {margin-left:16.666666%;}
	.large-offset-3 {margin-left:25%;}
	.large-offset-4 {margin-left:33.333333%;}
	.large-offset-5 {margin-left:41.666666%;}
	.large-offset-6 {margin-left:50%;}
	.large-offset-7 {margin-left:58.333333%;}
	.large-offset-8 {margin-left:66.666666%;}
	.large-offset-9 {margin-left:75%;}
	.large-offset-10 {margin-left:83.333333%;}
	.large-offset-11 {margin-left:91.666666%;}
}

/* ########################################################## */
/* NAVIGATION ############################################### */
/* ########################################################## */

nav ul {
	padding: 0;
	margin-bottom: 0;
	margin-top: 1.5em;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	margin-right: 75px;
	margin-left: 0px;
}

.vl-nav-box {
	background-color: #101110;
	margin-bottom: 80px;
	height: 83px;
	background-image: url(../img/navi_background.jpg);
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: 1920px 83px;
	border-bottom: 1px solid rgba(255,255,255,0.11);
}

.vl-navi-icon {
	vertical-align: text-bottom;
	height: 32px;
	margin-right: 0.5em;
}

.vl-navi-element {
	margin-left: 0.3em;
	font-size: 1.4em;
}

.vl-navi-element-active {
	font-weight: bold;
}

/* ########################################################## */
/* HEADER ################################################### */
/* ########################################################## */
.vl-main-logo {
	max-width: 600px;
	margin-bottom: 90px;
}

.vl-home-icon {
	vertical-align: middle;
	height: 34px;
	margin-right: 0.3em;
}

.vl-teaser-icon {
	vertical-align: text-bottom;
	height: 50px;
	margin-right: 0.2em;
}

.vl-teaser-headline {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 2.5em;
}

.vl-teaser-text {
	line-height: 1.7em;	
	font-size: 1em;
}

.vl-zitat {
	max-width: 650px;
	margin-top: 3em;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5em;
	display: block;
}

/* ########################################################## */
/* CONTENT BOXES - MAIN PART ################################ */
/* ########################################################## */

.vl-content-box {
	background-color: rgba(255,255,255,0.25);
	padding: 1em;
	height: 600px;
	margin-bottom: 100px;
	border: 1px solid #95989A;
}

.vl-content-box-image-left {
	padding-top: 1.7em;
	padding-bottom: 1.7em;
	background-color: #3D3D3D;
	background-image: url(../img/headerLinks.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	border-top: 1px solid #95989A;
	border-left: 1px solid #95989A;
	border-right: 1px solid #95989A;
}

.vl-content-box-image-right {
	padding-top: 1.7em;
	padding-bottom: 1.7em;
	background-color: #3D3D3D;
	background-image: url(../img/headerRechts.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	border-top: 1px solid #95989A;
	border-left: 1px solid #95989A;
	border-right: 1px solid #95989A;
}

.vl-content-box-image h2 {
	text-transform: uppercase;
	font-size: 3em;
	margin-bottom: 0;
	text-align: center;
	margin-top: 0;
}

.vl-content-box-image h3 {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;	
}

/* ########################################################## */
/* FOOTER ################################################### */
/* ########################################################## */

footer {
	background-color: #606060
}
